[stepper_x]
step_pin: gbb15:PB2
dir_pin: gbb15:PB1
enable_pin: !gbb15:PB13
 
#step_pin: gpio6
## Refer to https://docs.vorondesign.com/build/startup/#v0
#dir_pin: gpio5                                                      # Check motor direction in link above. If inverted, add a ! before gpio5
#enable_pin: !gpio7
rotation_distance: 32
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 174
position_max: 174
position_min: 0
homing_speed: 50                                                    # Can be increased after initial setup, Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: gbb15:PA4
diag_pin: gbb15:PB0 
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0  
driver_SGTHRS: 110


[stepper_y]
step_pin: gbb15:PB7
dir_pin: gbb15:PB8
enable_pin: !gbb15:PB9
 
rotation_distance: 32
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: tmc2209_stepper_y:virtual_endstop                                                 # LDO Picobilical overrides this setting 
position_endstop: 190
position_max: 190
position_min: -5
homing_speed: 50                                                    # Can be increased after initial setup, Max 100
homing_retract_dist: 0
homing_positive_dir: true


[tmc2209 stepper_y]
uart_pin: gbb15:PB3
diag_pin: gbb15:PB5  
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
driver_SGTHRS: 110
            

 