[gcode_macro CLEAN_NOZZLE]
variable_start_x: 81
variable_start_y: 189
variable_start_z: 0.75
variable_wipe_d: 15
variable_wipe_dist: -33
variable_wipe_qty: 2
variable_wipe_spd: 200

gcode:

  G90                                            ; absolute positioning
  ## Move nozzle to start position
  G1 X{start_x} Y{start_y}  F{wipe_spd * 60}
  G1 Z{start_z}
  
  ## Wipe nozzle
  {% for wipes in range(1, (wipe_qty + 1)) %}
    G1 X{start_x + wipe_dist} F{wipe_spd * 60}
    G1 X{start_x} Y{start_y - wipe_d} Z{start_z} F{wipe_spd * 60}
    G1 X{start_x} Y{start_y}  F{wipe_spd * 60}
  {% endfor %}

    {% for wipes in range(1, (wipe_qty + 1)) %}
    G1 X{start_x + wipe_dist} Y{start_y - wipe_d} F{wipe_spd * 60}
    G1 X{start_x + wipe_dist} Y{start_y} F{wipe_spd * 60}
    G1 X{start_x} Y{start_y}  F{wipe_spd * 60}
  {% endfor %}

  G1 Z3 Y180